@media screen and (min-width: 1024px) {
	body {
		display: grid;
		grid-template-rows: 20% 20% 1fr;
	}

	header {
		display: grid;
		grid-template-columns: 30% 30% 1fr;
	}

	nav > ul {
		display: grid;
		list-style-type: none;
		text-align: center;
		grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
	}

	section {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	}

	.poster > a > img {
		width: 100%;
		height: 100%;
	}

	#title {
		grid-column:1;
	}

	#page {
		grid-column:2;
		text-align: center;
	}

	#search {
		grid-column:3;
		text-align: right;
	}

	li a {
		text-decoration: none;
	}
}


/*@media screen and (min-height: 630px) and (max-width: 1023px) {
	body {
		display: grid;
		grid-template-rows: 20% 20% 1fr;
	}

	header {
		display: grid;
		grid-template-columns: 30% 30% 1fr;
	}

	nav > ul {
		display: grid;
		list-style-type: none;
		text-align: center;
		grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	}

	section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#title {
		grid-column:1;
	}

	#page {
		grid-column:2;
		text-align: center;
	}

	#search {
		grid-column:3;
		text-align: right;
	}

	li a {
		text-decoration: none;
	}
}

@media screen and (min-height: 400px) and (max-width: 629px) {
	body {
		display: grid;
		grid-template-rows: 20% 20% 1fr;
	}

	header {
		display: grid;
		grid-template-columns: 30% 30% 1fr;
	}

	nav > ul {
		display: grid;
		list-style-type: none;
		text-align: center;
		grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	}

	section {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#title {
		grid-column:1;
	}

	#page {
		grid-column:2;
		text-align: center;
	}

	#search {
		grid-column:3;
		text-align: right;
	}

	li a {
		text-decoration: none;
	}
}

*/