@media screen and (min-width: 1024px) {
	body {
		display: grid;
		grid-template-rows: 20% 1fr;
	}

<<<<<<< Updated upstream
	header {
		display: grid;
		grid-template-columns: 30% 1fr;
=======
	nav {
		display: grid
	    list-style-type: none;
		text-align: center;
		grid-template-columns: 15% 15% 1fr 1fr 1fr;
		background-color: #003366;
>>>>>>> Stashed changes
	}
	
	nav > ul {
		display: grid;
		list-style-type: none;
		text-align: center;
		grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
	}

	section {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	}

	.poster > a > img {
		width: 100%;
		height: 100%;
	}

	li a {
		text-decoration: none;
		color : white;
	}
<<<<<<< Updated upstream

	#search {
		grid-column:2;
		text-align: right;
	}

	li a {
		text-decoration: none;
	}
}

@media screen and (max-width: 1023px) and (min-width: 741px) {
	body {
		display: grid;
		grid-template-rows: 10% 10% 1fr;
	}

	header {
		display: grid;
		grid-template-columns: 30% 1fr;
	}

	nav > ul {
		display: grid;
		list-style-type: none;
		text-align: center;
		grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
	}

	li a {
		text-decoration: none;
	}

	section {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
	}

	#search {
		grid-column:2;
		text-align: right;
	}

	.poster > a > img {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 740px) {
	body {
		display: grid;
		grid-template-rows: 10% 10% 10% 10% 1fr;
	}

	#title {
		text-align: center;
	}

	#search {
		text-align: center;
	}

	nav > ul {
		list-style-type: none;
		text-align: center;
		padding: 0px;
	}

	li a {
		text-decoration: none;
=======
	li a:hover
	{
    color : black;
	}
	nav{
		
	}
	ul > #search {
		float: right;
>>>>>>> Stashed changes
	}

	section {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	}

	.poster > a > img {
		width: 100%;
		height: 100%;
	}
}